<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <ht>Subject</ht>
                    <ht>Note</ht>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.subject }}</td>
                    <td> {{ todo.note }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>